:root {
  --color-primary-font:#989b9a;
  --color-white:white;
  --color-black:black;
  --color-bg:#f3f6fd; }

* {
  margin: 0;
  padding: 0; }

*, *::before, *::after {
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  font-size: 62.5%; }

.maincontainer {
  display: grid;
  grid-template-columns: 100px 1.4fr 1fr;
  gap: 5px;
  background-color: var(--color-bg);
  padding: 5px; }

.header {
  height: 70px;
  grid-column: 1 / 4;
  background-color: var(--color-bg); }

.navigation {
  height: 50rem;
  grid-row: 2 / span 2;
  background-color: var(--color-bg); }

.maincomp {
  height: 50rem;
  background-color: var(--color-white);
  border-radius: 20px 20px 0 0;
  box-shadow: 1px 1px 15px 10px #88888807; }

.side {
  height: 50rem;
  background-color: var(--color-bg); }

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.header:first-child {
  padding-left: 20px; }

.header-front {
  width: 50%;
  display: flex;
  justify-content: space-around;
  justify-self: flex-start;
  margin-left: -18rem; }

.ham-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px; }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }

.search__input {
  font-size: 1rem;
  color: black;
  border: none;
  padding: 0.7rem 3.1rem;
  border-radius: 100px;
  width: 20rem;
  margin-left: -2.6rem; }

.search__icon {
  font-size: 1rem;
  height: 1.4rem;
  width: 1.4rem;
  color: grey;
  z-index: 1; }

.portfolio-text {
  font-size: 1.6rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center; }

.header-back {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .header-back-plus {
    height: 1.8rem;
    width: 1.8rem;
    margin: 1rem;
    color: var(--color-primary-font);
    background-color: #1f1c2f;
    padding: 0.2rem;
    border-radius: 50%;
    margin: 1.6rem 0; }
  .header-back-bell {
    height: 1.8rem;
    width: 1.8rem;
    margin: 1rem;
    color: var(--color-primary-font); }
  .header-back-hr {
    height: 20px; }
  .header-back-profile {
    height: 2rem;
    width: 2rem;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 1rem; }
  .header-back-image {
    height: 3rem;
    width: 3rem;
    size: 3rem 3rem; }
  .header-back-name {
    font-size: 1rem; }

.logo {
  height: 1.8rem;
  width: 1.8rem;
  margin: 1rem;
  color: var(--color-primary-font); }

.logo:first-child {
  color: white; }

.nav-logo {
  display: flex;
  flex-direction: column;
  align-items: center; }

.home-logo {
  background-color: #1f1c2f;
  padding: 0.2rem;
  border-radius: 50%;
  margin: 1.6rem 0; }

.maincomp {
  padding: 1rem; }
  .maincomp-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    padding: 2rem;
    padding-bottom: 1rem; }
    .maincomp-title-1 {
      font-size: 1.2rem; }
    .maincomp-title-2 {
      font-size: 0.9rem; }
  .maincomp-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
    padding: 1.6rem 2rem; }
    .maincomp-detail-part1 {
      display: flex;
      justify-content: center;
      align-items: center; }
      .maincomp-detail-part1-box {
        background-color: beige; }
        .maincomp-detail-part1-box-title {
          font-size: 1rem; }
        .maincomp-detail-part1-box-status {
          font-size: 0.8rem; }
      .maincomp-detail-part1-circle {
        border: 1px solid black;
        margin: 1rem;
        border-radius: 50%;
        height: 5px;
        width: 5px;
        margin-top: 2.2rem; }
    .maincomp-detail-part2 {
      background-color: aqua; }
      .maincomp-detail-part2-icon {
        height: 1.4rem;
        width: 1.4rem;
        margin: 0.2rem; }
  .maincomp-card {
    height: 80vh;
    width: 100%;
    background-color: #a1a1f2;
    display: grid;
    grid-template-columns: 1fr 1fr; }
    .maincomp-card-box {
      height: 13rem;
      width: 13rem;
      background-color: bisque;
      margin: 0 2rem;
      border-radius: 10px;
      padding: 1rem; }
      .maincomp-card-box-title {
        height: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .maincomp-card-box-title-2-logo {
          height: 1rem;
          width: 1rem; }
      .maincomp-card-box-name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 2rem; }
        .maincomp-card-box-name-1 {
          font-size: 1rem; }
        .maincomp-card-box-name-2 {
          font-size: 0.8rem; }
      .maincomp-card-box-progress-2-a1 {
        width: 80%;
        height: 0.5rem;
        background-color: lightgray;
        border-radius: 10px;
        overflow: hidden; }
      .maincomp-card-box-progress-2-a2 {
        width: 80%;
        height: 1rem;
        background-color: #5e5ee1; }
      .maincomp-card-box-people {
        height: 4rem;
        width: 100%;
        background-color: aqua;
        border-top: 1px solid black; }
        .maincomp-card-box-people-left {
          display: flex; }
          .maincomp-card-box-people-left-1 {
            margin: 8px; }
            .maincomp-card-box-people-left-1 > img {
              height: 1rem;
              width: 1rem;
              border-radius: 50%; }
          .maincomp-card-box-people-left-2 {
            margin: 8px; }
            .maincomp-card-box-people-left-2 > img {
              width: 1.6rem;
              height: 1.6rem;
              border-radius: 50%; }
          .maincomp-card-box-people-left-3 {
            margin: 8px; }
            .maincomp-card-box-people-left-3 > svg {
              height: 1.6rem;
              width: 1.6rem;
              border-radius: 50%; }
