:root {
  --color-background:#fff;
  --color-menu:#ebe3d7;
  --color-card-1:#fcbda3;
  --color-card-2:#fce5bc;
  --color-font-1:#443d37;
  --color-font-2:#b5a79e;
  --color-side-card:#f0884e;
  --color-other-1:#c2a273;
  --color-other2:#48a99c;
  --color-side-card-fill:#ab623a; }

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 1200px) {
    body {
      font-size: 50%; } }
  @media only screen and (max-width: 600px) {
    body {
      font-size: 40%; } }

.maincontainer {
  display: grid;
  grid-template-columns: 48px 200px 1fr;
  grid-template-rows: 1fr;
  height: 100%;
  width: 100%; }
  @media only screen and (max-width: 600px) {
    .maincontainer {
      grid-template-columns: 1fr;
      grid-template-rows: 48px 130px 1fr; } }

.shade {
  display: flex;
  overflow-y: auto; }
  .shade::-webkit-scrollbar {
    display: none; }
  @media only screen and (max-width: 1200px) {
    .shade {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding-bottom: 20px; } }

.nav {
  background-color: var(--color-background);
  height: 100vh; }
  @media only screen and (max-width: 600px) {
    .nav {
      height: 48px; } }

.menu {
  background-color: var(--color-menu); }

.card {
  background-color: var(--color-background);
  background-color: #f7f7f7;
  height: 100%; }

.side {
  background-color: var(--color-background);
  background-color: #fcfcfc;
  height: 100%; }
  @media only screen and (max-width: 1200px) {
    .side {
      width: 100%; } }

img {
  object-fit: cover; }

.bg-white {
  background-color: white !important; }

.bg-color {
  background-color: var(--color-side-card) !important; }

.text-white {
  color: white !important; }

.bg-fill {
  background-color: var(--color-side-card-fill) !important; }

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 600px) {
    .nav {
      flex-direction: row;
      width: 100%;
      align-items: center; } }
  .nav-top {
    height: 4rem;
    width: 3rem;
    background-color: var(--color-background);
    border-bottom: 0.5px solid #b5a79e38; }
    @media only screen and (max-width: 600px) {
      .nav-top {
        width: 4rem;
        height: 3rem; } }
    .nav-top-logo {
      height: 4rem;
      width: 3rem;
      display: flex;
      justify-content: center;
      align-items: center; }
      @media only screen and (max-width: 600px) {
        .nav-top-logo {
          width: 4rem;
          height: 3rem; } }
      .nav-top-logo-o {
        height: 1.5rem;
        width: 1.5rem;
        border: 1.5px solid black;
        border-radius: 50%;
        font-size: 4rem; }
    .nav-top-z {
      position: absolute;
      top: 18px;
      left: 10px;
      font-size: 1.8rem;
      font-weight: 300;
      transform: rotate(58deg); }
      @media only screen and (max-width: 600px) {
        .nav-top-z {
          top: 11px;
          left: 16px; } }
  .nav-mid {
    height: 18rem;
    width: 3rem;
    background-color: var(--color-background);
    color: var(--color-font-1); }
    @media only screen and (max-width: 600px) {
      .nav-mid {
        width: 18rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center; } }
    .nav-mid-home {
      height: 3rem;
      width: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      stroke-width: 1.5; }
      .nav-mid-home:first-child {
        background-color: var(--color-menu);
        color: var(--color-font-1);
        stroke-width: 1.8; }
        .nav-mid-home:first-child > svg {
          width: 1.5rem;
          height: 1.5rem; }
      .nav-mid-home > svg {
        height: 1.2rem;
        width: 1.2rem; }
      .nav-mid-home:hover {
        background-color: var(--color-menu);
        color: var(--color-font-1);
        stroke-width: 1.8; }
        .nav-mid-home:hover > svg {
          width: 1.5rem;
          height: 1.5rem; }
  .nav-bottom {
    height: 3rem;
    width: 3rem;
    background-color: var(--color-background);
    display: flex;
    justify-content: center;
    align-items: center; }
    .nav-bottom > svg {
      height: 2rem;
      width: 2rem; }

.menu-title {
  height: 4rem;
  width: 100%;
  border-bottom: 0.5px solid #b5a79e38;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1.5rem; }
  .menu-title-div-1 {
    font-size: 1.2rem;
    font-weight: 600; }
  .menu-title-div-2 {
    font-size: 0.6rem; }

.menu-list {
  width: 100%;
  height: 90vh;
  padding: 1.5rem;
  overflow-y: scroll;
  cursor: pointer; }
  .menu-list::-webkit-scrollbar {
    display: none; }
  @media only screen and (max-width: 1200px) {
    .menu-list {
      height: 90vh; } }
  @media only screen and (max-width: 600px) {
    .menu-list {
      display: flex;
      gap: 10px; } }
  .menu-list-drop, .menu-list-drop1, .menu-list-drop2, .menu-list-drop3, .menu-list-drop4 {
    height: 7rem;
    transition: all 0.2s;
    margin-bottom: 0.5rem; }
    @media only screen and (max-width: 600px) {
      .menu-list-drop, .menu-list-drop1, .menu-list-drop2, .menu-list-drop3, .menu-list-drop4 {
        width: 20%;
        gap: 10px;
        z-index: 1;
        background-color: var(--color-menu); } }
    .menu-list-drop-team, .menu-list-drop1-team, .menu-list-drop2-team, .menu-list-drop3-team, .menu-list-drop4-team {
      width: 100%;
      height: 1.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .menu-list-drop-team-name, .menu-list-drop1-team-name, .menu-list-drop2-team-name, .menu-list-drop3-team-name, .menu-list-drop4-team-name {
        font-size: 0.9rem;
        font-weight: 500; }
      .menu-list-drop-team-icon, .menu-list-drop-team-icon1, .menu-list-drop-team-icon2, .menu-list-drop-team-icon3, .menu-list-drop-team-icon4, .menu-list-drop1-team-icon, .menu-list-drop1-team-icon1, .menu-list-drop1-team-icon2, .menu-list-drop1-team-icon3, .menu-list-drop1-team-icon4, .menu-list-drop2-team-icon, .menu-list-drop2-team-icon1, .menu-list-drop2-team-icon2, .menu-list-drop2-team-icon3, .menu-list-drop2-team-icon4, .menu-list-drop3-team-icon, .menu-list-drop3-team-icon1, .menu-list-drop3-team-icon2, .menu-list-drop3-team-icon3, .menu-list-drop3-team-icon4, .menu-list-drop4-team-icon, .menu-list-drop4-team-icon1, .menu-list-drop4-team-icon2, .menu-list-drop4-team-icon3, .menu-list-drop4-team-icon4 {
        height: 2rem;
        width: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotate(0deg);
        transition: all 0.2s; }
        @media only screen and (max-width: 600px) {
          .menu-list-drop-team-icon, .menu-list-drop-team-icon1, .menu-list-drop-team-icon2, .menu-list-drop-team-icon3, .menu-list-drop-team-icon4, .menu-list-drop1-team-icon, .menu-list-drop1-team-icon1, .menu-list-drop1-team-icon2, .menu-list-drop1-team-icon3, .menu-list-drop1-team-icon4, .menu-list-drop2-team-icon, .menu-list-drop2-team-icon1, .menu-list-drop2-team-icon2, .menu-list-drop2-team-icon3, .menu-list-drop2-team-icon4, .menu-list-drop3-team-icon, .menu-list-drop3-team-icon1, .menu-list-drop3-team-icon2, .menu-list-drop3-team-icon3, .menu-list-drop3-team-icon4, .menu-list-drop4-team-icon, .menu-list-drop4-team-icon1, .menu-list-drop4-team-icon2, .menu-list-drop4-team-icon3, .menu-list-drop4-team-icon4 {
            display: none; } }
        .menu-list-drop-team-icon > svg, .menu-list-drop-team-icon1 > svg, .menu-list-drop-team-icon2 > svg, .menu-list-drop-team-icon3 > svg, .menu-list-drop-team-icon4 > svg, .menu-list-drop1-team-icon > svg, .menu-list-drop1-team-icon1 > svg, .menu-list-drop1-team-icon2 > svg, .menu-list-drop1-team-icon3 > svg, .menu-list-drop1-team-icon4 > svg, .menu-list-drop2-team-icon > svg, .menu-list-drop2-team-icon1 > svg, .menu-list-drop2-team-icon2 > svg, .menu-list-drop2-team-icon3 > svg, .menu-list-drop2-team-icon4 > svg, .menu-list-drop3-team-icon > svg, .menu-list-drop3-team-icon1 > svg, .menu-list-drop3-team-icon2 > svg, .menu-list-drop3-team-icon3 > svg, .menu-list-drop3-team-icon4 > svg, .menu-list-drop4-team-icon > svg, .menu-list-drop4-team-icon1 > svg, .menu-list-drop4-team-icon2 > svg, .menu-list-drop4-team-icon3 > svg, .menu-list-drop4-team-icon4 > svg {
          height: 1rem;
          width: 1rem; }
    .menu-list-drop-ele, .menu-list-drop-ele1, .menu-list-drop-ele2, .menu-list-drop-ele3, .menu-list-drop-ele4, .menu-list-drop1-ele, .menu-list-drop1-ele1, .menu-list-drop1-ele2, .menu-list-drop1-ele3, .menu-list-drop1-ele4, .menu-list-drop2-ele, .menu-list-drop2-ele1, .menu-list-drop2-ele2, .menu-list-drop2-ele3, .menu-list-drop2-ele4, .menu-list-drop3-ele, .menu-list-drop3-ele1, .menu-list-drop3-ele2, .menu-list-drop3-ele3, .menu-list-drop3-ele4, .menu-list-drop4-ele, .menu-list-drop4-ele1, .menu-list-drop4-ele2, .menu-list-drop4-ele3, .menu-list-drop4-ele4 {
      display: inline-block;
      font-size: 0.8rem;
      list-style-type: none; }
      @media only screen and (max-width: 600px) {
        .menu-list-drop-ele, .menu-list-drop-ele1, .menu-list-drop-ele2, .menu-list-drop-ele3, .menu-list-drop-ele4, .menu-list-drop1-ele, .menu-list-drop1-ele1, .menu-list-drop1-ele2, .menu-list-drop1-ele3, .menu-list-drop1-ele4, .menu-list-drop2-ele, .menu-list-drop2-ele1, .menu-list-drop2-ele2, .menu-list-drop2-ele3, .menu-list-drop2-ele4, .menu-list-drop3-ele, .menu-list-drop3-ele1, .menu-list-drop3-ele2, .menu-list-drop3-ele3, .menu-list-drop3-ele4, .menu-list-drop4-ele, .menu-list-drop4-ele1, .menu-list-drop4-ele2, .menu-list-drop4-ele3, .menu-list-drop4-ele4 {
          font-size: 0.64rem;
          display: none; } }
      .menu-list-drop-ele-list, .menu-list-drop-ele1-list, .menu-list-drop-ele2-list, .menu-list-drop-ele3-list, .menu-list-drop-ele4-list, .menu-list-drop1-ele-list, .menu-list-drop1-ele1-list, .menu-list-drop1-ele2-list, .menu-list-drop1-ele3-list, .menu-list-drop1-ele4-list, .menu-list-drop2-ele-list, .menu-list-drop2-ele1-list, .menu-list-drop2-ele2-list, .menu-list-drop2-ele3-list, .menu-list-drop2-ele4-list, .menu-list-drop3-ele-list, .menu-list-drop3-ele1-list, .menu-list-drop3-ele2-list, .menu-list-drop3-ele3-list, .menu-list-drop3-ele4-list, .menu-list-drop4-ele-list, .menu-list-drop4-ele1-list, .menu-list-drop4-ele2-list, .menu-list-drop4-ele3-list, .menu-list-drop4-ele4-list {
        padding: 0.3rem 1rem;
        word-wrap: break-word; }
        @media only screen and (max-width: 600px) {
          .menu-list-drop-ele-list, .menu-list-drop-ele1-list, .menu-list-drop-ele2-list, .menu-list-drop-ele3-list, .menu-list-drop-ele4-list, .menu-list-drop1-ele-list, .menu-list-drop1-ele1-list, .menu-list-drop1-ele2-list, .menu-list-drop1-ele3-list, .menu-list-drop1-ele4-list, .menu-list-drop2-ele-list, .menu-list-drop2-ele1-list, .menu-list-drop2-ele2-list, .menu-list-drop2-ele3-list, .menu-list-drop2-ele4-list, .menu-list-drop3-ele-list, .menu-list-drop3-ele1-list, .menu-list-drop3-ele2-list, .menu-list-drop3-ele3-list, .menu-list-drop3-ele4-list, .menu-list-drop4-ele-list, .menu-list-drop4-ele1-list, .menu-list-drop4-ele2-list, .menu-list-drop4-ele3-list, .menu-list-drop4-ele4-list {
            padding: 0.3rem;
            background-color: var(--color-menu); } }
  .menu-list-drop1 {
    height: 11.5rem; }
    @media only screen and (max-width: 600px) {
      .menu-list-drop1 {
        height: 1.5rem; } }
  .menu-list-drop2 {
    height: 9rem; }
    @media only screen and (max-width: 600px) {
      .menu-list-drop2 {
        height: 1.5rem; } }
  .menu-list-drop, .menu-list-drop3, .menu-list-drop4 {
    height: 1.5rem; }
    .menu-list-drop-team-icon, .menu-list-drop-team-icon3, .menu-list-drop-team-icon4, .menu-list-drop3-team-icon, .menu-list-drop3-team-icon3, .menu-list-drop3-team-icon4, .menu-list-drop4-team-icon, .menu-list-drop4-team-icon3, .menu-list-drop4-team-icon4 {
      transform: rotate(90deg); }
      @media only screen and (max-width: 600px) {
        .menu-list-drop-team-icon, .menu-list-drop-team-icon3, .menu-list-drop-team-icon4, .menu-list-drop3-team-icon, .menu-list-drop3-team-icon3, .menu-list-drop3-team-icon4, .menu-list-drop4-team-icon, .menu-list-drop4-team-icon3, .menu-list-drop4-team-icon4 {
          transform: rotate(0deg); } }
    .menu-list-drop-ele, .menu-list-drop-ele3, .menu-list-drop-ele4, .menu-list-drop3-ele, .menu-list-drop3-ele3, .menu-list-drop3-ele4, .menu-list-drop4-ele, .menu-list-drop4-ele3, .menu-list-drop4-ele4 {
      display: none; }

.card {
  width: 100%;
  padding: 0rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media only screen and (max-width: 1200px) {
    .card {
      padding: 2rem;
      padding-top: 1rem; } }
  .card-title {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    .card-title-name {
      font-size: 1.2rem;
      font-weight: 600; }
    .card-title-search {
      width: 100%;
      height: 2rem;
      border-radius: 2rem;
      margin-left: 13px; }
  .card-box {
    height: 70%; }
    @media only screen and (max-width: 600px) {
      .card-box {
        height: 100%; } }
    .card-box-title {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 1.5rem; }
      .card-box-title-left {
        font-size: 1rem;
        font-weight: 500; }
      .card-box-title-right {
        font-size: 0.8rem;
        color: var(--color-side-card); }
    .card-box-card {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 0.8rem; }
      @media only screen and (max-width: 700px) {
        .card-box-card {
          flex-direction: column;
          gap: 1rem; } }
      .card-box-card-left {
        width: 47.5%;
        height: 24rem;
        border-radius: 1rem;
        background-color: var(--color-card-1);
        padding: 1.5rem; }
        @media only screen and (max-width: 1200px) {
          .card-box-card-left {
            width: 48%; } }
        @media only screen and (max-width: 700px) {
          .card-box-card-left {
            width: 100%; } }
        .card-box-card-left:nth-child(2) {
          background-color: var(--color-card-2); }
        .card-box-card-left-title {
          display: flex;
          justify-content: space-between;
          align-items: center; }
          .card-box-card-left-title-image {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center; }
            .card-box-card-left-title-image-div {
              height: 2.5rem;
              width: 2.5rem;
              border: 2px solid var(--color-card-1);
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              font-weight: 500;
              color: white;
              background-color: black; }
              .card-box-card-left-title-image-div-1 {
                height: 2.5rem;
                width: 2.5rem;
                border: 2px solid var(--color-card-2);
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 500;
                color: white;
                background-color: black; }
            .card-box-card-left-title-image-img {
              height: 2.5rem;
              width: 2.5rem;
              border: 2px solid var(--color-card-1);
              border-radius: 50%;
              margin-left: -0.9rem; }
              .card-box-card-left-title-image-img-1 {
                height: 2.5rem;
                width: 2.5rem;
                border: 2px solid var(--color-card-2);
                border-radius: 50%;
                margin-left: -0.9rem; }
          .card-box-card-left-title-icon {
            font-size: 1.6rem;
            font-weight: 700; }
        .card-box-card-left-name {
          width: 100%;
          height: 3rem;
          margin-top: 2rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between; }
          .card-box-card-left-name-1 {
            font-size: 1.3rem;
            font-weight: 500; }
          .card-box-card-left-name-2 {
            font-size: 0.7rem;
            margin-top: 1rem; }
        .card-box-card-left-bar {
          width: 100%;
          height: 2rem;
          margin-top: 9.5rem; }
          .card-box-card-left-bar-name {
            font-size: 0.6rem;
            margin-bottom: 0.4rem; }
          .card-box-card-left-bar-mainbar {
            width: 100%;
            height: 0.3rem;
            background-color: rgba(0, 0, 0, 0.15);
            border-radius: 1rem;
            overflow: hidden; }
            .card-box-card-left-bar-mainbar-probar {
              width: 40%;
              height: 0.3rem;
              background-color: black;
              border-radius: 1rem; }
              .card-box-card-left-bar-mainbar-probar-1 {
                width: 75%;
                height: 0.3rem;
                background-color: black;
                border-radius: 1rem; }
  .card-rim {
    height: 18%;
    width: 100%;
    margin-top: 1.5rem; }
    .card-rim-name {
      font-size: 1rem;
      font-weight: 500; }
    .card-rim-box {
      width: 100%;
      height: 6rem;
      border: 1px solid var(--color-menu);
      border-radius: 1rem;
      padding: 1rem;
      padding-bottom: 1rem;
      margin-top: 0.5rem;
      animation: marquee 20s linear infinite; }
      .card-rim-box-cover {
        display: flex;
        transition: all .2s ease-out;
        overflow: hidden;
        scroll-behavior: smooth; }
        .card-rim-box-cover-1 {
          height: 3.5rem;
          min-width: 100%;
          display: flex;
          justify-content: space-between; }
          .card-rim-box-cover-1-left-time {
            font-size: 0.6rem; }
          .card-rim-box-cover-1-left-text {
            margin-top: 0.1rem;
            font-size: 1rem;
            font-weight: 500; }
          .card-rim-box-cover-1-right {
            display: flex;
            justify-content: end;
            align-items: center;
            height: 100%;
            width: 40%; }
            .card-rim-box-cover-1-right-btn {
              height: 2rem;
              width: 6rem;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 1rem;
              border: 1px dashed var(--color-side-card); }
      .card-rim-box-button {
        height: 0.5rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center; }
        .card-rim-box-button-1, .card-rim-box-button-2, .card-rim-box-button-3 {
          height: 0.5rem;
          width: 0.5rem;
          background-color: #fcbea358;
          margin: 0 0.5rem;
          border-radius: 50%; }
        .card-rim-box-button-1 {
          background-color: var(--color-card-1); }
        .card-rim-box-button-1:hover, .card-rim-box-button-1:visited, .card-rim-box-button-2:hover, .card-rim-box-button-2:visited, .card-rim-box-button-3:hover, .card-rim-box-button-3:visited {
          background-color: var(--color-card-1);
          opacity: 1; }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search__input {
    font-size: 0.8rem;
    background-color: #f7f7f7;
    border: 1.5px solid var(--color-menu);
    padding: 0.6rem 3rem;
    border-radius: 100px;
    width: 100%;
    margin-left: -2.6rem; }
  .search__icon {
    font-size: 1rem;
    height: 1rem;
    width: 1rem;
    z-index: 1; }

.side {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media only screen and (max-width: 1200px) {
    .side {
      flex-direction: row-reverse;
      gap: 30px; } }
  @media only screen and (max-width: 900px) {
    .side {
      width: 100%;
      flex-direction: column; } }
  .side-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 45%; }
    @media only screen and (max-width: 1200px) {
      .side-main {
        width: 50%;
        height: 100%; } }
    @media only screen and (max-width: 900px) {
      .side-main {
        width: 100%; } }
  .side-dot {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: end; }
    .side-dot > svg {
      width: 3rem;
      height: 3rem; }
  .side-title {
    height: 2.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .side-title-btn {
      height: 2.5rem;
      width: 7rem;
      background-color: var(--color-side-card);
      color: white;
      font-size: 0.8rem;
      border-radius: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center; }
    .side-title-right {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 10rem; }
      .side-title-right-1 {
        height: 2.5rem;
        width: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative; }
        .side-title-right-1 > svg {
          height: 1.5rem;
          width: 1.5rem; }
        .side-title-right-1-dot {
          height: 5px;
          width: 5px;
          position: absolute;
          top: 10px;
          left: 23px;
          background-color: red;
          border-radius: 50%; }
      .side-title-right-2 {
        display: flex;
        justify-content: center;
        align-items: center; }
        .side-title-right-2-img {
          height: 2rem;
          width: 2rem;
          border-radius: 1rem; }
      .side-title-right-3 {
        display: flex;
        justify-content: center;
        flex-direction: column; }
        .side-title-right-3-user {
          font-size: 0.7rem;
          color: gray; }
        .side-title-right-3-name {
          font-size: 0.9rem;
          font-weight: 500; }
      .side-title-right-4 {
        display: flex;
        justify-content: center;
        align-items: center; }
        .side-title-right-4-div {
          height: 1rem;
          width: 1rem;
          background-color: #fcbea358;
          border: 1px solid var(--color-side-card);
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center; }
          .side-title-right-4-div > svg {
            height: 1rem;
            width: 1rem; }
  .side-members {
    height: 5.5rem;
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .side-members-title {
      font-size: 1.2rem;
      font-weight: 500; }
    .side-members-img {
      height: 3rem;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .side-members-img-1 {
        height: 3rem;
        width: 3rem;
        border-radius: 50%; }
      .side-members-img-cir {
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        font-size: 1rem;
        color: var(--color-side-card);
        background-color: #fcbea358;
        display: flex;
        justify-content: center;
        align-items: center; }
      .side-members-img-div {
        height: 1.6rem;
        width: 1.6rem;
        background-color: #fcbea358;
        border: 1px dashed var(--color-side-card);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%; }
        .side-members-img-div > svg {
          height: 1.1rem;
          width: 1.1rem; }
  .side-box {
    height: 5rem;
    width: 100%;
    background-color: white;
    box-shadow: 2px 2px 10px #00000025;
    margin-top: 1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .side-box-div {
      height: 4rem;
      width: 5rem;
      display: flex;
      justify-content: center;
      flex-direction: column; }
      .side-box-div-1 {
        font-size: 0.6rem;
        color: gray; }
      .side-box-div-2 {
        font-size: 1rem;
        font-weight: 500;
        margin-top: 0.2rem; }
  .side-task {
    margin-top: 2rem;
    width: 100%;
    height: 45%; }
    @media only screen and (max-width: 1200px) {
      .side-task {
        width: 50%;
        height: 100%; } }
    @media only screen and (max-width: 900px) {
      .side-task {
        width: 100%; } }
    .side-task-title {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 2rem; }
      .side-task-title-name {
        font-size: 1rem;
        font-weight: 500; }
      .side-task-title-edit {
        font-size: 0.8rem;
        color: var(--color-side-card); }
    .side-task-div {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 10px;
      margin-top: 1rem; }
      .side-task-div-common {
        width: 100%;
        height: 7.5rem;
        border-radius: 0.6rem; }
      .side-task-div-1 {
        background-color: #f6f1eb;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.05); }
        .side-task-div-1:hover {
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1); }
        .side-task-div-1-name {
          font-size: 0.85rem;
          font-weight: 400;
          margin-top: 1rem; }
        .side-task-div-1-plus {
          margin-left: auto; }
          .side-task-div-1-plus > svg {
            height: 1.2rem;
            width: 1.2rem; }
      .side-task-div-2 {
        background-color: #fcfcfc;
        position: relative;
        overflow: hidden;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.05); }
        .side-task-div-2:hover {
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1); }
        .side-task-div-2-svg-1 {
          position: absolute;
          bottom: -6px;
          right: -34px;
          transform: rotate(336deg);
          height: 30px; }
        .side-task-div-2-svg-2 {
          position: absolute;
          bottom: 18px;
          right: -14px;
          transform: rotate(324deg);
          height: 30px; }
        .side-task-div-2-title {
          width: 100%;
          margin-top: 0.2rem;
          display: flex;
          justify-content: end;
          align-items: center;
          padding: 0.6rem; }
          .side-task-div-2-title-1 {
            width: 7px;
            height: 7px;
            background-color: #ff6161;
            border-radius: 50%; }
          .side-task-div-2-title-2, .side-task-div-2-title-21, .side-task-div-2-title-22 {
            font-size: 0.6rem;
            font-weight: 400;
            margin: 0 5px; }
          .side-task-div-2-title-3 {
            height: 10px;
            width: 10px;
            margin-top: 0.5px;
            display: flex;
            justify-content: center;
            align-items: center; }
            .side-task-div-2-title-3 > svg {
              height: 10px;
              width: 10px;
              z-index: 100; }
          .side-task-div-2-title-4 {
            background-color: #00cbb3;
            width: 8px;
            height: 8px;
            border-radius: 50%; }
        .side-task-div-2-text, .side-task-div-2-text1, .side-task-div-2-text2 {
          width: 66%;
          font-size: 0.85rem;
          margin-left: 1rem;
          color: black; }
      .side-task-div-3 {
        background-color: #fcfcfc;
        position: relative;
        overflow: hidden;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.05); }
        .side-task-div-3:hover {
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1); }
        .side-task-div-3-flex {
          position: absolute;
          bottom: -26px;
          left: -42px;
          display: flex;
          flex-direction: column;
          gap: 8px;
          justify-content: center;
          align-items: center;
          transform: rotate(337deg); }
          .side-task-div-3-flex-1 {
            height: 18px;
            width: 60px;
            border: 1px solid var(--color-side-card); }
          .side-task-div-3-flex-2 {
            height: 18px;
            width: 100px;
            border: 1px solid var(--color-side-card); }
          .side-task-div-3-flex-3 {
            height: 18px;
            width: 80px;
            border: 1px solid var(--color-side-card); }
      .side-task-div-4 {
        background-color: #fcfcfc;
        position: relative;
        overflow: hidden;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.05); }
        .side-task-div-4:hover {
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1); }
        .side-task-div-4-1 {
          position: absolute;
          bottom: 10px;
          right: -10px;
          transform: rotate(13deg); }
        .side-task-div-4-2 {
          position: absolute;
          bottom: -5px;
          right: 50px;
          transform: rotate(20deg); }
        .side-task-div-4-3 {
          position: absolute;
          bottom: 3px;
          right: -15px;
          transform: rotate(8deg); }

input[id="myCheck"] + label,
input[id="myCheck2"] + label,
input[id="myCheck1"] + label {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 2px solid var(--color-side-card-fill);
  border-radius: 2px;
  cursor: pointer; }

input[id="myCheck"]:checked + label:after,
input[id="myCheck2"]:checked + label:after,
input[id="myCheck1"]:checked + label:after {
  position: relative;
  top: -1px;
  left: 0px;
  content: "\2714";
  color: white;
  background-color: var(--color-side-card-fill);
  font-size: 10px; }

input[id="myCheck"],
input[id="myCheck2"],
input[id="myCheck1"] {
  display: none; }
