:root {

    --color-primary-font:#989b9a;
    --color-white:white;
    --color-black:black;
    --color-bg:#f3f6fd;
   

}



* {
    margin: 0;
    padding: 0;
}

*,*::before,*::after{
    box-sizing: inherit;
}

html{
    

}
body{
    box-sizing: border-box;
    font-size: 62.5%;
    // font-family: ;

    
}
