:root {
  --color-primary-font: #989b9a;
  --color-white: white;
  --color-black: black;
  --color-bg: #f3f6fd;

  $color_1: #484848;
  $color_2: #6b6b6b;
  $color_3: #2bc6ff;

  $background-color_2: #2bc8ff;
  $background-color_3: #2bc6ff40;

  $red: red;
  $black: black;
  $home-logo: #1f1c2f;
  $white: white;
  $color_1: #484848;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: var(--color-bg);
  // font-family: ;
  // position: relative;
 
}
