.maincontainer {
  display: grid;
  grid-template-columns: 100px 1.4fr 1fr;
  gap: 5px;
  background-color: var(--color-bg);
  padding: 5px;
}
.header {
  height: 70px;
  grid-column: 1 / 4;
  background-color: var(--color-bg);
}
.navigation {
//   width: 150px;
  height: 50rem;
  grid-row: 2 / span 2;
  background-color: var(--color-bg);
}
.maincomp {
  height: 50rem;
//   width: 100px;
  background-color: var(--color-white);
  border-radius: 20px 20px 0 0;
  box-shadow: 1px 1px 15px 10px #88888807;

}
.side {
  height: 50rem;

  background-color: var(--color-bg);
}
