.maincontainer {
  display: grid;
  grid-template-columns: 100px 1.4fr 1fr;
  gap: 5px;
  background-color: var(--color-bg);
  padding: 5px;
  // @media only screen and (max-width: 900px) {
  //   grid-template-columns: 1.4fr 1fr;
  // }

    @media only screen and (max-width: 900px) {
    grid-template-columns: 100px 1fr;
    // grid-template-rows: 100px 100px 1fr;
  }
}
.header {
  height: 70px;
  grid-column: 1 / 4;
  background-color: var(--color-bg);
}
.navigation {
//   width: 150px;
  height: 45rem;
  grid-row: 2 / span 2;
  background-color: var(--color-bg);

  // @media only screen and (max-width: 900px) {
  //   display: none;
  // }
}
.maincomp {
  height: 45rem;
//   width: 100px;
  background-color: var(--color-white);
  border-radius: 20px;
  box-shadow: 1px 1px 15px 10px #88888807;

}
.side {
  height: 45rem;
  background-color: var(--color-bg);
    @media only screen and (max-width: 900px) {
    grid-row: 3/span 2;
  }
}

.d-none{
  display: none;
}
.d-inline-b{
  display: inline-block;
}
.g-100-14-1{
  grid-template-columns: 100px 1.4fr 1fr;
}
.g-1{
  grid-template-columns: 1fr;
}