.maincontainer {
  display: grid;
  grid-template-columns: 100px 1.4fr 1fr;
  gap: 5px;
  background-color: var(--color-bg);

  padding: 5px;
  // @media only screen and (max-width: 900px) {
  //   grid-template-columns: 1.4fr 1fr;
  // }

  @media only screen and (max-width: 900px) {
    grid-template-columns: 1fr;
    // grid-template-rows: 100px 100px 1fr;
    margin-bottom: 5rem;
    // overflow: hidden;
  }
}
.header {
  height: 70px;
  grid-column: 1 / 4;
  background-color: var(--color-bg);
}
.navigation {
  //   width: 150px;
  height: 45rem;
  grid-row: 2 / span 2;
  background-color: var(--color-bg);

  @media only screen and (max-width: 900px) {
    display: none;
  }
}
.maincomp {
  height: 45rem;
  //   width: 100px;
  background-color: var(--color-white);
  border-radius: 20px;
  box-shadow: 1px 1px 15px 10px #88888807;
}
.side {
  height: 45rem;
  background-color: var(--color-bg);
  @media only screen and (max-width: 900px) {
    grid-row: 3 / span 2;
    display: none;
  }
}

.chatSymbol {
  display: none;
  @media only screen and (max-width: 900px) {
    position: fixed;
    bottom: 6rem;
    right: 3rem;
    height: 4rem;
    width: 4rem;
    background-color: white;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    box-shadow: 0px 0px 12px black;
  }

  &-svg {
    @media only screen and (max-width: 900px) {
      height: 3rem;
      width: 3rem;
    }
  }
}

.chatblur {
  display: none;
  @media only screen and (max-width: 900px) {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: red;
    background: rgba(0,0,0,0.5);
    z-index: 1;
    position: fixed;
    top: 0px;
    left: 0px;
    transition: all 0.1s;
  }
}

.chat {
  display: none;
  @media only screen and (max-width: 900px) {
    width: 80%;
    height: 80%;
    margin: 10%;
    margin-bottom: 0%;
    position: fixed;
    border-radius: 1rem;
    top: 0px;
    left: 0px;
    z-index: 2;
    background-color: white;
  }
}

.closebtn {
  display: none;
  @media only screen and (max-width: 900px) {
    // width: 80%;
    // height: 8%;
    margin: 0 10%;
    // margin-top: -5%;
    position: fixed;
    right: 0px;
    top: 10px;
    z-index: 2;
    // background-color: red;
  }

  &-div {
    border-radius: 10px;

    @media only screen and (max-width: 900px) {
      margin: 0 auto;
      height: 2rem;
      width: 2rem;
      background-color: #fd5e58;
      color: #4f0006;
      // color:black;
      // background: radial-gradient(
      //   circle,
      //   rgba(122, 122, 122, 1) 0%,
      //   rgba(255, 255, 255, 0.5) 100%,
      //   rgba(255, 255, 255, 1) 100%
      // );
      display: flex;
      justify-content: center;
      align-items: center;

      // box-shadow: 0px 0px 12px black;
      // border: 1px solid black;
    }

    &-btn{
      height: 1.4rem;
      width: 1.4rem;
      font-size: 1.4rem;
    }
  }
}

.bottombar {
  display: none;
  @media only screen and (max-width: 900px) {
    display: inline-block;
    height: 5rem;
    width: 100%;
    position: fixed;
    background-color: var(--color-bg);
    bottom: 0;
    left: 0;
    z-index: 5;
    margin: 0 auto;
  }
}

.d-none {
  display: none;
}
.d-inline-b {
  display: inline-block;
}
.g-100-14-1 {
  grid-template-columns: 100px 1.4fr;
}
.g-1 {
  grid-template-columns: 1fr;
}
