$color_1: #484848;
$color_2: #6b6b6b;
$color_3: #2bc6ff;
$white: white;
$background-color_2: #2bc8ff;
$background-color_3: #2bc6ff40;

.maincomp {
  padding: 1rem;

  @media only screen and (max-width: 751px) {
    height: 60rem;
  }

  &-se {
    display: none;
    width: 100%;
    // height: 100px;
    // background-color: aqua;
    height: 3rem;

    @media only screen and (max-width: 900px) {
      display: inline-block;
      // grid-column: 2 / 4;
    }

    &-search {
      flex: 0 0 40%;
      display: flex;
      align-items: center;
      justify-content: center;
      @media only screen and (max-width: 900px) {
        // display: none;
      }

      &__input {
        // font-family: inherit;
        font-size: 0.8rem;
        color: black;
        // background-color: rgb(215, 212, 212);
        border: none;
        padding: 0.7rem 3.1rem;
        border-radius: 100px;
        width: 20rem;
        // transition: all 0.2s;
        margin-left: -2.6rem;

        @media only screen and (max-width: 900px) {
          width: 80%;
          // display: none;
        }
      }
      &__icon {
        font-size: 1rem;
        height: 1rem;
        width: 1rem;
        // background-color: rgb(215, 212, 212);
        color: grey;
        // fill: black;
        z-index: 0;
      }
    }
  }

  &-grid {
    display: flex;
    width: 100%;
    height: 33rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    cursor: pointer;
    @media only screen and (max-width: 751px) {
      height: 48rem;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    &-box2 {
      background-color: #fee4cb;
    }
    &-box3 {
      background-color: #b9f2d1;
    }
    &-box4 {
      background-color: #ffd3e2;
    }
    &-box5 {
      background-color: #e9e7fd;
    }

    &-box {
      height: 15rem;
      width: 15rem;
      margin: 30px;
      border-radius: 2.4rem;
      padding: 1rem 1.6rem;
      position: relative;
      box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.08);
      &:hover {
        box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.16);
      }

      @media only screen and (max-width: 751px) {
        transform: scale(1.4);
        margin: 80px;
      }

      &-hr {
        position: absolute;
        bottom: 48px;
        left: 0;
        height: 1px;
        width: 100%;
        border-width: 0;
        background-color: $white;
      }
      &-title {
        width: 100%;
        height: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-date {
          font-size: 0.8rem;
          color: $color_1;
        }
        &-icon-1 {
          height: 1rem;
          width: 1rem;
        }
      }
      &-detail {
        width: 100%;
        height: 9rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        &-1 {
          font-size: 1.1rem;
          font-weight: 700;
          color: $color_1;
        }
        &-2 {
          font-size: 0.8rem;
          font-size: 500;
          color: $color_2;
          margin-top: -0.5rem;
        }
        &-cover {
          width: 100%;
          height: 4rem;
          display: flex;
          font-size: 0.8rem;
          flex-direction: column;
          justify-content: space-evenly;
        }
        &-3 {
          font-weight: 500;
          justify-self: start;
          color: $color_1;
        }
        &-4 {
          height: 1rem;
          width: 100%;
          align-items: center;
          margin-top: 0.35rem;

          &-progress-bar {
            width: 100%;
            height: 0.5rem;
            background-color: #ebebeb;
            border-radius: 1rem;
            border: none;
          }

          &-value-bar {
            background-color: $background-color_2;
            height: 100%;
            width: 90%;
            border-radius: 1rem;
            border: none;
          }

          &-pbar2 {
            background-color: whitesmoke;
          }
        }
        &-5 {
          font-weight: 500;
          margin-left: auto;
          color: $color_1;
        }
      }
      &-foot {
        width: 100%;
        height: 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-people {
          display: flex;

          &-image {
            height: 1.3rem;
            width: 1.3rem;
            border-radius: 50%;

            &-1 {
              height: 1.3rem;
              width: 1.3rem;
              border-radius: 50%;
              margin-left: -0.5rem;
            }
          }
          &-div {
            height: 1.3rem;
            width: 1.3rem !important;
            background-color: $background-color_2;
            border-radius: 50%;
            margin-left: 0.5rem;
            & > svg {
              height: 1.3rem;
              width: 1.3rem;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
        &-time {
          width: 5rem;
          height: 1.7rem;
          background-color: $white;
          color: $color_3;
          border-radius: 1.1rem;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 0.7rem;
          font-weight: 700;
        }
        &-time2 {
          width: 5rem;
          height: 1.7rem;
          background-color: $background-color_3;
          color: $color_3;
          border-radius: 1.1rem;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 0.7rem;
          font-weight: 700;
        }
      }
    }
  }

  &-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    padding-bottom: 1rem;
    color: $color_1;

    &-1 {
      font-size: 1.3rem;
      font-weight: 600;
    }
    &-2 {
      font-size: 0.9rem;
      font-weight: 500;
    }
  }

  &-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;

    &-part1 {
      display: flex;
      justify-content: center;
      align-items: center;

      &-box {
        &-title {
          font-size: 1rem;
          font-weight: 600;
        }

        &-status {
          margin-top: 0.3rem;
          font-size: 0.8rem;
          color: $color_2;
        }
      }

      &-circle {
        border: 1px solid $color_2;
        margin: 1rem;
        border-radius: 50%;
        height: 5px;
        width: 5px;
        margin-top: 2.2rem;
      }
    }
    &-part2 {
      &-icon {
        height: 1.4rem;
        width: 1.4rem;
        margin: 0.2rem;
      }
    }
  }

  &-card {
    height: 60vh;
    width: 100%;
  }
}

.bar {
  &-2 {
    background-color: #ff723a;
    width: 30%;
  }
  &-c2 {
    color: #ff723a;
  }

  &-3 {
    background-color: #02d052;
    width: 50%;
  }
  &-c3 {
    color: #02d052;
  }
  &-4 {
    background-color: #ff72ac;
    width: 20%;
  }
  &-c4 {
    color: #ff72ac;
  }
  &-5 {
    background-color: #6759ff;
    width: 70%;
  }
  &-c5 {
    color: #6759ff;
  }
  &-6 {
    width: 40%;
  }
}
