$black:black;
$home-logo:#1f1c2f;
$white:white;

.logo {
    @include logo-c;
    cursor: pointer;

&:hover{
    color: $black;
    transform: scale(1.1);
}
&:first-child{
    color: $white;
    transform: scale(1);
}
}
.nav-logo{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.home-logo{
    background-color: $home-logo;
    padding: 0.2rem;
    border-radius: 50%;
    margin: 1.6rem 0;
   
}